/*gallery*/
.gallery { position:relative; width:100%; height:650px; overflow: hidden; }
.gallery-item { display:none; opacity:0; height:650px; background-position:center; background-repeat:no-repeat; }
.gallery-item.current { display:block; opacity:1;
  -moz-animation: galleryAnimation 1s;
  -webkit-animation: galleryAnimation 1s;
  -o-animation: galleryAnimation 1s;
  animation: galleryAnimation 1s;
}
.gallery-item1 { background-image:url("https://img.alicdn.com/bao/uploaded/TB1MK72QFXXXXaTapXXSutbFXXX.jpg_q90.jpg"); } 
.gallery-item2 { background-image:url("https://img.alicdn.com/bao/uploaded/TB1FUOtQVXXXXXEXFXXSutbFXXX.jpg_q90.jpg"); } 
.gallery-item3 { background-image:url("https://img.alicdn.com/bao/uploaded/TB1NkeDQVXXXXcIXVXXSutbFXXX.jpg_q90.jpg"); }
.gallery-pagers { position:absolute; left:50%; bottom:53px; width:300px; margin-left:-150px; text-align:center; font-size:0; }
.gallery-pagers i { display:inline-block; width:16px; height:16px; overflow:hidden; margin:0 10px; border-radius:8px; background:#cdced0; }
.gallery-pagers i.current { background:#07c1dd; }
.gallery-nav { position:relative; z-index:1; }
.gallery-nav-btn { position:absolute; top:277px; width:53px; font-size:53px; height:95px; line-height:97px; text-align:center; color:#ddd; cursor:pointer; }
.gallery-nav-btn-prev { left:20px; }
.gallery-nav-btn-next { right:20px; }